.cover {
    inline-size: inherit;
    block-size: inherit;
    background-color: var(--primary);

    position: absolute;
    inset: 0;

    transition: 1s transform;

    backface-visibility: hidden;
}

.cover-front {
    z-index: 2;

    transform-origin: right center;
}

.cover-back {
    z-index: 1;

    inset-inline-start: 100%;

    transform: rotateY(-180deg);
    transform-origin: left center;
}
